<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttfc.soa.dubbo.provider.mapper.BranchCompanyMapper">

	<!-- <resultMapid="BraComResultMap" type="com.ouc.model.BranchCompany"> 
		<id column="id"property="id" jdbcType="INTEGER" /> <result column="name"property="name" 
		jdbcType="VARCHAR" /> <result column="address"property="address" jdbcType="VARCHAR" 
		/> <result column="telNumber"property="telNumber" jdbcType="VARCHAR" /> <result 
		column="moduleNo"property="moduleNo" jdbcType="VARCHAR" /> <result column="labId"property="labId" 
		jdbcType="INTEGER" /> <result column="remark"property="remark" jdbcType="VARCHAR" 
		/> </resultMap> -->

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<property name="maxEntriesLocalHeap" value="1000" />
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache>

	<insert id="insertBranchCompany" parameterType="com.ttfc.soa.dubbo.provider.domain.BranchCompany"
		useGeneratedKeys="true" keyProperty="id" flushCache="true">
		insert into
		BranchCompany (
		id,name,address,telNumber,moduleNo,labId,remark)
		values
		(
		#{id},
		#{name},
		#{address},
		#{telNumber},
		#{moduleNo},
		#{labId},
		#{remark}
		)
	</insert>

	<select id="getBraComsFromDataBase" resultType="com.ttfc.soa.dubbo.provider.domain.BranchCompany">
		select * from
		BranchCompany
	</select>

	<select id="selectBranchCompany" parameterType="int"
		resultType="com.ttfc.soa.dubbo.provider.domain.BranchCompany">
		select * from BranchCompany WHERE id = #{id}
	</select>

	<update id="updateBranchCompany" parameterType="com.ttfc.soa.dubbo.provider.domain.BranchCompany"
		flushCache="true" statementType="PREPARED" timeout="20">
		update
		BranchCompany set
		name = #{name},
		address = #{address},
		telNumber =
		#{telNumber},
		moduleNo = #{moduleNo},
		labId = #{labId},
		remark =
		#{remark}
		where id = #{id}
	</update>

	<delete id="deleteBranchCompany" parameterType="com.ttfc.soa.dubbo.provider.domain.BranchCompany"
		flushCache="true" statementType="PREPARED" timeout="20">
		delete from
		BranchCompany
		where id = #{id}
	</delete>
	
	<select id="selectBraComs2" resultType="com.ttfc.soa.dubbo.provider.domain.BranchCompany">
		select * from
		BranchCompany
	</select>
	
	<select id="selectBraComs" resultType="com.ttfc.soa.dubbo.provider.domain.BranchCompany">
		select * from
		BranchCompany
	</select>
</mapper> 